<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="King.Azure" version="2.0.8" targetFramework="net461" />
  <package id="King.Service" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.TraceSource" version="4.0.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Parallel" version="4.0.1" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="7.2.0" targetFramework="net461" />
</packages>